<ul class="list-group">
    <% @calendarList.items.each do |calendar|%>
        <%= link_to getCalendar_path(:selectedCalendar => calendar) do %>
            <li class="list-group-item"><%= calendar.summary %></li>
        <% end %>
    <% end %>
</ul>