<ul class="list-group">
    <% @calendarList.each do |calendar|%>
        <%= link_to getCalendar_path(:selectedCalendarId => calendar.id) do %>
            <li class="list-group-item"><%= calendar.summary %></li>
        <% end %>
    <% end %>
</ul>